*,
::before,
::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

:focus {
  outline: none;
}

body {
  overscroll-behavior: none;
  background: #fafafa; /* for overscrolling in Safari */
}

img {
  vertical-align: bottom;
  isolation: isolate;
}

.container {
  display: flex;
  height: 100vh;
}

.container > * {
  flex: 1;
  padding: 1em;
  overflow-y: scroll;
  color: #10151a;
  background: #fafafa;
}

.edit-area {
  font: 1.1em "Courier New", monospace;
  resize: none;
  border: 0;
  border-radius: 0; /* for iOS Safari */
}

/* see https://dev.wgao19.cc/sun-moon-blending-mode */
.container::before {
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  content: "";
  background: #e1e1e1;
  mix-blend-mode: difference;
  opacity: 0;
  transition: opacity 1s;
}

.enable::before {
  opacity: 1;
}

.enable > .edit-area {
  font-weight: bolder;
}
