*,
::before,
::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

:focus {
  outline: none;
}

body {
  /* works like `overscroll-behavior: none;` except iOS Safari */
  overflow: hidden;
}

img {
  vertical-align: bottom;
  isolation: isolate;
}

.container {
  display: flex;
  height: 100vh;
}

.container > * {
  flex: 1;
  padding: 16px;
  overflow-y: scroll;
  background: #fff; /* for darkmode */
}

.edit-area {
  font: 1.2em "Courier New", monospace;
  color: #24292e;
  resize: none;
  border: 0;
  border-right: 1px solid #e1e4e8;
  border-radius: 0; /* for iOS Safari */
}

.markdown-body p {
  white-space: var(--space);
}

/* see https://dev.wgao19.cc/sun-moon-blending-mode */
.container::before {
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  content: "";
  background: #e1e1e1;
  mix-blend-mode: difference;
  opacity: var(--dark);
  transition: opacity 1s;
}
